old/
TODO.txt
playground.txt
attic/
.vscode/
.git-hooks/
env
.env
env.src
env-adm.src
conf/id_rsa
conf/osh
.openshift*
*.deb
**/*.kubeconfig
output.txt 
instance.json
ip.txt
.latestcheck
tests/*.err
_*
