old/
TODO.txt
playground.txt
attic/
.vscode/
.git-hooks/
env
.env
env.src
env-adm.src
conf/id_rsa
conf/osh
.openshift*
*.deb
**/*.kubeconfig
output.txt 
instance.json
ip.txt
_ip
.latestcheck
tests/*.err
_*
conf/gcp
conf/aws
kubeconfig
env-github
.env*
runtimes.json
.secrets
venv
**/stress-test/*-ingress*
