## set those secrets and copy me to env.src to run tests locally
#export NUV_ROOT=/home/ubuntu/nuvolaris/nuvolaris-operator/olaris
export AWS_ACCESS_KEY_ID=...
export AWS_SECRET_ACCESS_KEY=...
export AWS_DEFAULT_REGION=...
export ID_RSA_B64=....
export DUCKDNS_TOKEN=...
