ID_RSA_B64=<output of cat ~/.ssh/id_rsa | base64 -w0>
AWS_DEFAULT_KEY_NAME=<aws key name. defaults to nuvolaris-key if omitted>
AWS_CLUSTER_NAME=<cluster name>
AWS_ACCESS_KEY_ID=<aws access key>
AWS_SECRET_ACCESS_KEY=<aws secret key>
GKE_PROJECT=<name of a google cloud project>
GKE_REGION=<google region>
GKE_NODE_COUNT=<number of nodes>
GKE_NODE_TYPE=<node type>
GKE_DISK_SIZE=<disk size>
