ID_RSA_B64=<output of cat ~/.ssh/id_rsa | base64 -w0>
AWS_DEFAULT_KEY_NAME=<aws key name. defaults to nuvolaris-key if omitted>
AWS_CLUSTER_NAME=<cluster name>
AWS_ACCESS_KEY_ID=<aws access key>
AWS_SECRET_ACCESS_KEY=<aws secret key>
GKE_PROJECT=<name of a google cloud project>
AKS_CLUSTER_NAME=<name of an aks cluster>
OSH_KUBEADMIN_PASSWORD=<openshift password>
