AWS_ACCESS_KEY_ID=<aws access key>
AWS_SECRET_ACCESS_KEY=<aws secret key>
AWS_DEFAULT_REGION=<aws region to use>
AWS_DEFAULT_KEY_NAME=<aws key name. defaults to nuvolaris-key if omitted>
ID_RSA_B64=<output of cat ~/.ssh/id_rsa | base64 -w0>

GKE_PROJECT=<gcp project id>
GKE_REGION=<gcp region>
GKE_NODE_COUNT=<number of nodes>
GKE_NODE_TYPE=<type of node>
GKE_DISK_SIZE=<size of disk in GB>